# Assignment No 1

# User Input

In [32]:
name = input("Enter your Name")
father_name = input("Enter your father name")
phy = int (input("phy no"))
che = int (input("che no"))
math = int (input("math no"))
eng = int (input("eng no"))
urdu = int (input("urdu no"))
total = (phy+che+math+eng+urdu)
per = (total/500*100)

message = """
PIAIC ISLAMABAD BATCH3
name: {}
father name: {}
phy:{}
che:{}
math:{}
eng:{}
urdu:{}
total:{}
percentage:{}
"""

message = message.format(name, father_name, phy, che, math, eng, urdu,total,per)

print(message)

Enter your Nameali
Enter your father nameahmed
phy no50
che no68
math no47
eng no58
urdu no20

PIAIC ISLAMABAD BATCH3
name: ali
father name: ahmed
phy:50
che:68
math:47
eng:58
urdu:20
total:243
percentage:48.6

# 5 Built-in Functions

In [41]:
#binary function
x = bin(8)
print(x)

0b1000

In [46]:
#bool converts a value to Boolean
a = bool(5)
print(a)

True

In [47]:
#return postive value
p = abs(-98)
print (p)

98

In [49]:
#str takes an argument and returns the string equivalent of it.
s = str('pakistan')
print(s)

pakistan

In [62]:
#min returns the lowest value in a sequence.
pow(3,4)

81

# Assignment 2

# 20 oprand with different oprators

In [1]:
2-4+6*8+10*12+(14-1+3)+(5-7+9)+11+(13+15*17)-19*21+23-25/5
#-4+48+120+(16)+(7)+11+(268)-399+23-5
#46+120+16+7+11+268-399+18
#200+268+18-399
#486-399
#87

87.0

# All String data type Methods

In [1]:
#capitalize
a = "Muhammad Hamza"
print(a.capitalize())       
print(a)

Muhammad hamza
Muhammad Hamza

In [5]:
#center
d = "Python is awesome"
print("Centered String: ", d.center(24))

Centered String:     Python is awesome

In [6]:
#casefold
d = "Python is awesome"
print("Casefold String: ", d.casefold())

Casefold String:  python is awesome

In [9]:
#Count
a = "Muhammad Hamza"       
b = a.count("")
print(b)

15

In [29]:
#Endswith
text = "Python is easy to learn."
result = text.endswith('is easy')
print(result)
result = text.endswith('to learn.')
print(result)

False
True

In [10]:
#Encode
a = "Hamza"        
print(a.encode())           
print(a)

b'Hamza'
Hamza

In [11]:
#expandtabs
a = 'xyz\t12345\tabc'
result = a.expandtabs()

print(result)

xyz     12345   abc

In [18]:
#end
a = "Hamza"
print("Muhammad" , end = '$')         
print(a)

Muhammad$Hamza

In [19]:
#find
a = "Muhammad Hamza"        
b = a.find("Hamza")
print(b)

9

In [33]:
#Index
a = "Muhammad Hamza"                  
b = a.index("Hamza")
print(b)

9

In [31]:
#formate
a = "For only {price:.2f} dollars!"    
print(a.format(price = 80))

For only 80.00 dollars!

In [48]:
#isalnum
name = "ali"
print(name.isalnum())

name = "al i "
print(name.isalnum())

name = "ali"
print(name.isalnum())

True
False
True

In [35]:
#Isalpha
a = "Muhammad Hamza"                  
print(a.isalpha())
print(a)

False
Muhammad Hamza

In [36]:
#Isascii
a = "Muhammad Hamza"                 
print(a.isascii())
print(a)

True
Muhammad Hamza

In [37]:
#Isdecimal
a = "Muhammad Hamza"                 
print(a.isdecimal())
print(a)

False
Muhammad Hamza

In [38]:
#Isdigit
a = "6008666"                     
print(a.isdigit())
print(a)

True
6008666

In [39]:
#Isidentifier
a = "Muhammad Hamza"             
print(a.isidentifier())
print(a)

False
Muhammad Hamza

In [40]:
#Isprintable
a = "Muhammad Hamza"             
print(a.islower())
print(a)

False
Muhammad Hamza

In [41]:
#Isspace
a = "     "                 
print(a.isspace())
print(a)

True

In [42]:
#Issuper
a = "MUHAMMAD HAMZA"        
print(a.isupper())
print(a)

True
MUHAMMAD HAMZA

In [49]:
#slice
print(slice(3))
print(slice(1, 5, 2))

slice(None, 3, None)
slice(1, 5, 2)

In [44]:
#Join
a =("I", "love", "python")          
b = "".join(a)
print(b)

Ilovepython

In [50]:
#maximum
print('Maximum is:', max(1, 3, 2, 5, 4))
num = [1, 3, 2, 8, 5, 10, 6]
print('Maximum is:', max(num))

Maximum is: 5
Maximum is: 10

In [46]:
 #Ljust
a = "Muhammad Hamza"                   
b = a.ljust(5)
print(a , "is my name")

Muhammad Hamza is my name

In [47]:
#lower
a = "Muhammad Hamza"                   
print(a.lower())
print(a)

muhammad hamza
Muhammad Hamza

In [48]:
#lstrip
a = "love"                           
b = a.lstrip()
print("i" , a , "Pakistan")

i love Pakistan

In [50]:
#maketrans
value = {"a": "22", "b": "36", "c": "329"}         
string = "abc"
print(string.maketrans(value))

{97: '22', 98: '36', 99: '329'}

In [51]:
#int
print("int(123) is:", int(123))

print("int(123.23) is:", int(123.23))

print("int('123') is:", int('123'))

int(123) is: 123
int(123.23) is: 123
int('123') is: 123

In [51]:
 #partition 
a = "we love pakistan"                             
b = a.partition("love")
print(b)

('we ', 'love', ' pakistan')

In [54]:
#float
print(float(10))
print(float(11.22))
print(float("-13.33"))
print(float("     -24.45\n"))

10.0
11.22
-13.33
-24.45

In [52]:
#replace
a = "I like apples"                               
b = a.replace("apples" , "mangoes") 
print(b)

I like mangoes

In [34]:
#complex
a = 2+3j
print('a =',a)
print('Type of a is',type(a))

a = (2+3j)
Type of a is <class 'complex'>

In [54]:
#rindex
a = "I like , We like."                         
b = a.rindex("like")
print(b)

12

In [55]:
#rjust
a = "APPLE"                                 
b = a.rjust(20)
print(b , "is my favourite fruit")

               APPLE is my favourite fruit

In [56]:
#rsplit
a = "apple , banana , cherry"                       
b = a.rsplit(",")
print(b)

['apple ', ' banana ', ' cherry']

In [58]:
#rstrip  
a = "apple"                                  
b = a.rstrip()
print("of all favorite" ,b, "is my favorite")

of all favorite apple is my favorite

In [59]:
#split
a = "i love pakistan"                      
b = a.split()
print(b)

['i', 'love', 'pakistan']

In [1]:
string = "Python is interesting."
arr = bytes(string, 'utf-8')
print(arr)

b'Python is interesting.'

In [ ]:
#input
nputString = input()
print('The inputted string is:', inputString)

In [1]:
#bool
test = []
print(test,'is',bool(test))
test = [0]
print(test,'is',bool(test))

[] is False
[0] is True

In [4]:
l = [1, 3, 4, 5]
print(all(l))
l = [0, False]
print(all(l))

True
False

In [5]:
string = "Python is interesting."
arr = bytearray(string, 'utf-8')
print(arr)

bytearray(b'Python is interesting.')

In [7]:
#formate_map
point = {'x':4,'y':-5}
print('{x} {y}'.format_map(point))

4 -5

In [60]:
#splitlines
a = "i love pakistan\nWe are pakistani"          
b = a.splitlines()
print(b)

['i love pakistan', 'We are pakistani']

In [61]:
 #translate
firstString = "abc"                            
secondString = "ghi"
thirdString = "ab"

string = "abcdef"
print("Original string:", string)

translation = string.maketrans(firstString, secondString, thirdString)

print("Translated string:", string.translate(translation))

Original string: abcdef
Translated string: idef

In [63]:
 #zfill
a = "100"                                   
b = a.zfill(50)
print(b)

00000000000000000000000000000000000000000000000100